Host *
  HashKnownHosts no

Host 172.17.2.*
  User root
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host ariadne-term*
  User root
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host cortex
  User pix

Host oe userspace rasalhague
  User cmoncelier
