#######################################################################
# Some ENV prefs
# vi: ft=zsh

# History is in ~/.history
#
export RLWRAP_HOME=~/.history

function __dot_is_installed() {
	which "$1" >/dev/null 2>/dev/null
}

if __dot_is_installed vim; then
    export EDITOR=vim
    alias vi='vim'
fi

# ack is ack-grep on debian/ubuntu
if __dot_is_installed ack-grep; then
    alias ack='ack-grep'
fi

# Goodbye more, lets play with most ##########################################
#
if __dot_is_installed most; then
	alias more='most'
	alias less='most'
	export PAGER='most'
fi

if __dot_is_installed gem; then
	export PATH=$PATH:$(gem env gempath | sed 's@\(:\|$\)@/bin\1@g')
fi

# GTK FTW !
export OOO_FORCE_DESKTOP=gnome
# XFT my friend
export QT_XFT=1
export GDK_USE_XFT=1
# We always want to use ssh for rsync.
export RSYNC_RSH=ssh
# And for cvs as well.
export CVS_RSH=ssh

# Programming and C manuals first
export MANSECT="3:1:5:2:4:8:9:7:6"

# disable XON/XOFF flow control (^s/^q)
stty -ixon
