# Goodbye more, lets play with most ##########################################
# vi: ft=zsh 
#

MOST=$(whence most)
if [ $? -eq 0 ] ; then
	alias more='most'
	alias less='most'
	export PAGER='most'
fi
