# The 'ls' family (this assumes you use the GNU ls) ##########################
# vi: ft=zsh
#

alias la='ls -Al'               # show hidden files
alias ll='ls -lh'
alias ls='ls -hF --color'       # add colors for filetype recognition
alias lx='ls -lXB'              # sort by extension
alias lk='ls -lSr'              # sort by size
alias lc='ls -lcr'              # sort by change time  
alias lu='ls -lur'              # sort by access time   
alias lr='ls -lR'               # recursive ls
alias lt='ls -ltr'              # sort by date
alias lm='ls -al | more'        # pipe through 'more'

