# Misc tweaks #########################################################
# vi: ft=zsh
#

# I like all my history files in ~/.history
if [[ ! -d ~/.history ]]; then
    mkdir ~/.history
fi
# Keep almost everything 
export HISTSIZE=100000
export HISTFILE=~/.history/zsh
export SAVEHIST=100000


# Misc options
setopt \
  auto_cd \
  autopushd \
  pushd_ignore_dups \
  correct \
  extended_glob \
  interactive_comments \
  no_bg_nice \
  no_hup \
  print_eight_bit


# History options
setopt  \
  inc_append_history \
  hist_ignore_all_dups \
  hist_reduce_blanks \
  hist_verify \
  hist_expire_dups_first \
  hist_find_no_dups \
  hist_ignore_space \
  extended_history \
  share_history
 
# why do I need this ?
fc -R

# automatically quotes metacharacter while typing a url
autoload -U url-quote-magic
zle -N self-insert url-quote-magic

# wait 10 seconds before querying for a rm which contains a *
setopt rmstarwait

# GNU Colors
[ -f ~/.dir_colors ] && eval $(dircolors -b ~/.dir_colors)
export ZLSCOLORS="${LS_COLORS}"
zmodload  zsh/complist
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
zstyle ':completion:*:*:kill:*:processes' list-colors '=(#b) #([0-9]#)*=0=01;31' 

