[submodule "vendors/sshuttle"]
	path = vendors/sshuttle
	url = http://github.com/apenwarr/sshuttle.git
[submodule "vim/vim/bundle/nerdcommenter"]
	path = vim/vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim/bundle/detectindent"]
	path = vim/vim/bundle/detectindent
	url = git://github.com/ciaranm/detectindent.git
[submodule "vim/vim/bundle/vim-snipmate"]
	path = vim/vim/bundle/vim-snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/vim/bundle/vim-taglist"]
	path = vim/vim/bundle/vim-taglist
	url = git://github.com/pix/vim-taglist.git
[submodule "vim/vim/bundle/vim-gist"]
	path = vim/vim/bundle/vim-gist
	url = git://github.com/mattn/gist-vim.git
[submodule "vim/vim/bundle/vim-align"]
	path = vim/vim/bundle/vim-align
	url = git://github.com/pix/vim-align.git
[submodule "vim/vim/bundle/vim-hints_man"]
	path = vim/vim/bundle/vim-hints_man
	url = git://github.com/pix/vim-hints_man.git
[submodule "vim/vim/bundle/vim-syntastic"]
	path = vim/vim/bundle/vim-syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/vim/bundle/vim-surround"]
	path = vim/vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/vim-vcscommand"]
	path = vim/vim/bundle/vim-vcscommand
	url = git://repo.or.cz/vcscommand.git
