# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):

*.[oa]
*~

vim/vim/tags/
vim/vim/.netrwhist

# bin/sshuttle is created by make install
bin/sshuttle

# cache files
zsh/zsh/cache/

# gitconfig machinery
Makefile.local
misc/gitconfig

# Github token
zsh/zsh/rc/10-pref-github.rc
bash/bash.d/10-pref-github.sh
zsh/zsh.d/cache
