[submodule "vendors/sshuttle"]
	path = vendors/sshuttle
	url = http://github.com/apenwarr/sshuttle.git
[submodule "vim/vim/bundle/nerdcommenter"]
	path = vim/vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim/bundle/vim-snipmate"]
	path = vim/vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/vim/bundle/vim-taglist"]
	path = vim/vim/bundle/vim-taglist
	url = git://github.com/pix/vim-taglist.git
[submodule "vim/vim/bundle/vim-gist"]
	path = vim/vim/bundle/vim-gist
	url = git://github.com/mattn/gist-vim.git
[submodule "vim/vim/bundle/vim-align"]
	path = vim/vim/bundle/vim-align
	url = git://github.com/pix/vim-align.git
[submodule "vim/vim/bundle/vim-hints_man"]
	path = vim/vim/bundle/vim-hints_man
	url = git://github.com/pix/vim-hints_man.git
[submodule "vim/vim/bundle/vim-syntastic"]
	path = vim/vim/bundle/vim-syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/vim/bundle/vim-surround"]
	path = vim/vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/vim-vcscommand"]
	path = vim/vim/bundle/vim-vcscommand
	url = git://repo.or.cz/vcscommand.git
[submodule "vim/vim/bundle/vim-omnicppcomplete"]
	path = vim/vim/bundle/vim-omnicppcomplete
	url = git://github.com/MasterKey/OmniCppComplete.git
[submodule "vim/vim/bundle/vim-known_hosts.git"]
	path = vim/vim/bundle/vim-known_hosts.git
	url = git://github.com/pix/vim-known_hosts.git
[submodule "bin/auto-disper"]
	path = bin/auto-disper
	url = git://github.com/wertarbyte/auto-disper.git
[submodule "bin/auto-disperd"]
	path = bin/auto-disperd
	url = git://github.com/pix/auto-disperd.git
[submodule "vim/vim/bundle/git-rebase-helper"]
	path = vim/vim/bundle/git-rebase-helper
	url = git://github.com/pix/git-rebase-helper.git
[submodule "vim/vim/bundle/vim-indent-guides"]
	path = vim/vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/vim/bundle/python-mode.git"]
	path = vim/vim/bundle/python-mode.git
	url = git://github.com/klen/python-mode.git
[submodule "vim/vim/bundle/tlib_vim"]
	path = vim/vim/bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "vim/vim/bundle/vim-addon-mw-utils"]
	path = vim/vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/vim/bundle/snipmate-snippets"]
	path = vim/vim/bundle/snipmate-snippets
	url = git://github.com/honza/snipmate-snippets.git
[submodule "vim/vim/bundle/zencoding-vim"]
	path = vim/vim/bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "vim/vim/bundle/closetag.vim"]
	path = vim/vim/bundle/closetag.vim
	url = git://github.com/vim-scripts/closetag.vim.git
[submodule "vim/vim/bundle/xmledit"]
	path = vim/vim/bundle/xmledit
	url = git://github.com/sukima/xmledit.git
[submodule "vim/vim/bundle/vim-nerdtree-tabs"]
	path = vim/vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/vim/bundle/ctrlp.vim"]
	path = vim/vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/vim-coffee-script"]
	path = vim/vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim/bundle/vim-snippets"]
	path = vim/vim/bundle/vim-snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "vim/vim/bundle/unite.vim"]
	path = vim/vim/bundle/unite.vim
	url = git://github.com/Shougo/unite.vim
[submodule "vim/vim/bundle/vimproc.vim"]
	path = vim/vim/bundle/vimproc.vim
	url = git://github.com/Shougo/vimproc.vim
[submodule "vim/vim/bundle/unite-tag"]
	path = vim/vim/bundle/unite-tag
	url = git://github.com/tsukkee/unite-tag.git
[submodule "vim/vim/bundle/vim-easytags"]
	path = vim/vim/bundle/vim-easytags
	url = git://github.com/xolox/vim-easytags.git
[submodule "vim/vim/bundle/vim-misc"]
	path = vim/vim/bundle/vim-misc
	url = git://github.com/xolox/vim-misc.git
[submodule "vim/vim/bundle/neocomplcache.vim"]
	path = vim/vim/bundle/neocomplcache.vim
	url = git://github.com/Shougo/neocomplcache.vim
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline
[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "vim/vim/bundle/vim-addon-local-vimrc"]
	path = vim/vim/bundle/vim-addon-local-vimrc
	url = git://github.com/MarcWeber/vim-addon-local-vimrc.git
[submodule "shell.zsh/zsh/liquidprompt"]
	path = shell.zsh/zsh/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "vim/vim/bundle/emmet-vim"]
	path = vim/vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
